@import url(//fonts.googleapis.com/css?family=VT323);

body {
    background: #1f1f1f; 
	margin: 0px;
	padding: 0;
}

* {
    box-sizing: border-box;
	color: #00dd00;
	font-family: 'VT323', Courier;
    font-size: 64.5%;
	font-size: 1.2em;
}

.title {
    text-align: left;
}

.title.ascii {
    font-size: 10px;
    margin: 20px;
}

.cli {
    display: inline-block;
}

#command-line {
    font-size: 16px;
    margin-bottom: -10px;
    margin-left: 10px;
}

.path {
    background-color: #0a6b01;
    font-weight: bold;
    padding: 0px 8px;
    margin: 0px -10px;
}

.user {
    background-color: #053000;
    padding: 0px 8px;
}

.command {
    margin: 0px 10px;
    
}

.content {
    margin-top: -10px;
    margin-bottom: 0px;
    
}





